<%- include('../partials/_head') %>
<main>
    <section class = "sign-up__form">
    <h1>Edit <%=user.name%></h1>
    <form action="/users/<%=user._id%>?_method=PUT"" method="POST"> 
        <div>
            <input class = "sign-up__form--non-checkbox" type='text' id="name" placeholder ="<%=user.name%>"placeholder="Name" name="name"/> 
        </div>
        <div>
            <label for="isProfessionalChef">Are you a Professional Chef?</label>
            <input type='checkbox' id="isProfessionalChef" name="isProfessionalChef" /> 
            <label for="isProfessionalChef">Yes</label>
            <input type='checkbox' id="isProfessionalChef" name="isProfessionalChef" value = "null"/> 
            <label for="isProfessionalChef">No</label>
        </div>
        <div>
            <label>You're current favorite cuisines</label>
            <p><%=user.foodPreference%></p>
            <label for="foodPreference">Would you like to edit your favorite cuisines?</label> <br>
            <input type='checkbox' id="foodPreference" name="foodPreference" value="Asian"/> 
            <label for="foodPreference">Asian</label>

            <input type='checkbox' id="foodPreference" name="foodPreference" value="American"/> 
            <label for="foodPreference">American</label>

            <input type='checkbox' id="foodPreference" name="foodPreference" value="Indian"/> 
            <label for="foodPreference">Indian</label>

            <input type='checkbox' id="foodPreference" name="foodPreference" value="Mediterranean"/> 
            <label for="foodPreference">Mediteranean</label>
        </div>
        <div>
            <input class = "sign-up__form--non-checkbox" value="<%=user.username%>" type='text' id="username" placeholder="Username" name="username"/> 
        </div>
        <div>
            <input class = "sign-up__form--non-checkbox" value="<%=user.email%>" type='text' id="email" placeholder="Email" name="email"/> 
        </div>
        <div>
            <input class = "sign-up__form--non-checkbox"type='text' id="password" placeholder="Enter Password" name="password"/> 
        </div>
        <div>
            <input class = "sign-up__form--non-checkbox" type='text' id="password2" placeholder="Confirm Password" name="password2"/> 
        </div>
        <section class ="sign-up__form--button">
        <button type="submit" value= "Register">Let's Start Cooking!</button> 
    </section>
    </form>