

<%- include('../partials/_head' , {user:user._id}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link href='https://fonts.googleapis.com/css?family=Merriweather:300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/edit-user/style.css">
<main>
    <form action="/users/<%=user._id%>?_method=PUT"" method="POST"> 
        <section class="d-flex justify-content-center animated fadeInRight delay-1s">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                  <h3 class="card-title">Edit <%=user.name%> </h3>
                </div>
                <ul class="list-group list-group-flush">
                    
                    <label for="isProfessionalChef">Are you a Professional Chef?</label>
                    <section class="professional-chef">
                    <input type='checkbox' id="isProfessionalChef" name="isProfessionalChef" /> 
                    <label for="isProfessionalChef">Yes</label>
                    <input type='checkbox' id="isProfessionalChef" name="isProfessionalChef" value = "null"/> 
                    <label for="isProfessionalChef">No</label>
                </section>
                  <li class="list-group-item">          
                       <label>You're current favorite cuisines</label>
                    <p><%=user.foodPreference%></p>
                    <label for="foodPreference">Would you like to edit your favorite cuisines?</label> <br>
                    <input type='checkbox' id="foodPreference" name="foodPreference" value="Asian"/> 
                    <label for="foodPreference">Asian</label>
        
                    <input type='checkbox' id="foodPreference" name="foodPreference" value="American"/> 
                    <label for="foodPreference">American</label>
        
                    <input type='checkbox' id="foodPreference" name="foodPreference" value="Indian"/> 
                    <label for="foodPreference">Indian</label>
        
                    <input type='checkbox' id="foodPreference" name="foodPreference" value="Mediterranean"/> 
                    <label for="foodPreference">Mediteranean</label>
               
                <li class="list-group-item">Username:</li>
                <input class = "sign-up__form--non-checkbox" value="<%=user.username%>" type='text' id="username" placeholder="Username" name="username"/> 
        
                <li class="list-group-item">Email:</li>
                <input class = "sign-up__form--non-checkbox" value="<%=user.email%>" type='text' id="email" placeholder="Email" name="email"/> 
            </ul>
                  <button type="submit">Change My Preferences</button> 
              </div>
            </form>
            </main>
            <%- include('../partials/_footer') %>
       