<%- include('../partials/_head') %>

    <%user.recipes.forEach((recipe) => {%> 
        <ul>
            <li>
                 <a href = "/recipes/<%=recipe._id%>"><%=recipe.name%></a>
                 <form action="/users/<%= recipe._id %> ?_method=DELETE" method="POST">
                    <button type="submit">Delete Recipe</button>
                </form>
                <a href="/recipes/<%= recipe._id %>/edit">
                    <button>Edit Recipe</button>
                </a>
            </li>
        </ul> 
    <% }) %> 
</ul>

<%- include('../partials/_footer') %>