<%-include('../partials/_head')%>

<main>
    <button>
        <a href="/user/<%= user._id%>/new">Add New Recipes</a>
    </button>
    <button>
        <a href="/user/<%= user._id%>/recipes">My Recipes</a>
    </button>

    <h1>User Details</h1>
    
    <section>
        <h4>Name:</h4> 
        <p><%=user.name%></p>

        <h4>Random Recipes:</h4>

        <h4>Other Recipes Catered to You:</h4>
        <%recipes.forEach((recipe) => { %>
            <%user.foodPreference.forEach((food) => {  %>
                <% if(recipe.origin === food) { %>
                     <a href="/recipes/<%=recipe._id%>"><%= recipe.name %></a>
             <% }})}) %>
        <h4>Created At:</h4> <p><%=new Date(user.createdAt).toLocaleDateString()%></p>
    </section>

    <section>
        <form action = "/user/<%=user._id%>?_method=DELETE" method = "POST">
            <button type = 'submit'>Delete Account</button>
        </form>
        <a href = "/user/<%=user._id%>/edit">
        <button>Edit Account</button></a>
    </section>
</main>
    
<%-include('../partials/_footer')%>