<%-include('../partials/_head')%>
<script type = "text/javascript" src="/javascript/app.js" defer></script>
<link rel="stylesheet" href="/css/show-user/style.css">
    <main>
        <button class = 'btn'>
            <a href="/users/<%= user._id%>/new">Add New Recipes</a>
        </button>

        <button class = 'btn'>
            <a href="/users/<%= user._id%>/recipes">My Recipes</a>
        </button>
      
            <button class="btn"> 
                 <a href = "/users/<%=user._id%>/edit">
                    Edit Preferences 
                </a>
            </button>
        
        <div class="row m-5  name">

                <h2 >Hello <%=user.name%></h2>
         
        </div>
         <h4>Random Recipes:</h4>
        <section class = 'd-flex justify-content-between'>
           
            
                    <%
                     let num_of_recipe = 0;
                     let max = 4;
                     let num_picked = [];
                    
                    if(recipes.length  <=4){
                      
                     max = recipes.length;
                    }
                        while(num_picked.length < max ){
                          
                       
                          let random = Math.floor(Math.random()*recipes.length) 
                            
                            if(num_picked.indexOf(random) === -1)num_picked.push(random)

                            console.log(num_picked)
                     
                        }  
                        for(let i = 0; i < num_picked.length ; i++) {%>
                        
                            <div class="card ml-3" style="width: 18rem;">
                                <img src="<%= recipes[num_picked[i]].url%>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text"><a href= "/recipes/<%= recipes[num_picked[i]]._id%> "  >  
                                    <span>Recipe Name:<%= recipes[num_picked[i]].name %> </span> <br/>
                                    <span>Origin:<%= recipes[num_picked[i]].origin%> </span> 
                                   
                                    </p>
                                </div>
                            </div>
                       
                        
                          
                       <%   
                         console.log(recipes[num_picked[i]]._id)}
                        %>
        </section>
        
        <section class="more-recipes">
        <h4> Other Recipes You Might Like: </h4>
         <section  class = 'container'>
        <div class="row">
          <%recipes.forEach((recipe) => { %>
            <%user.foodPreference.forEach((food) => {  %>
              <% if(recipe.origin === food) { %>
                <div class="col col-md-3 m-4">
                <div class="card" style="width: 18rem;">
                    <img src="<%= recipe.url%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/recipes/<%=recipe._id%>"><%= recipe.name %></a>
                        </h5>
                        <p class="card-text"> 
                            Origin:<%= recipe.origin%>
                        

                        </div>
                    </div>
                </div>
          
             <% }})}) %>
            </div>
        </section>
    </section>
        <h4>Created At:</h4> <p><%=new Date(user.createdAt).toLocaleDateString()%></p>




        <section>
            <form action = "/users/<%=user._id%>?_method=DELETE" method = "POST">
                <button class = 'btn' type = 'submit'>Delete Account</button>
            </form>

        </section>
    </main>
    


<%-include('../partials/_footer')%>