
<link rel="stylesheet" type="text/css"   href="/css/index-recipe/style.css">




<%-include('../partials/_head',{user_id:user_id})%>

    <h1>Recipes Page</h1>

        <section class = "recipe-index">
            <%recipes.forEach((recipe) => {%> 
 
                <section class = "recipe-container">
            <span class = "recipe-container__name"><h4>Name:</h4>
                <p><a href="recipes/<%=recipe._id%>">
                    <%= recipe.name %> 
                </a></p>
            </span>
            <span class = "recipe-container__origin">
            <h4>Origin:</h4><p> <%=recipe.origin%> </p>
        </span>
        <span class = "recipe-container__ingredients">
            <h4>Ingredients:</h4><p> <%=recipe.ingredients%> </p>
        </span>
            <span class = "images">
            <img src = "<%= recipe.url %>" alt="<%=recipe.name%> ">
        </span>
        <span class = "recipe-container__ratings">
            <h4>Ratings:</h4><p><%=recipe.avgRating%></p>
        </span>
        <br>
        <section class = "recipe-container__ratings--add">
          <form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
            <label for="ratings">Rating</label>
            <select name="ratings" id="ratings">
              <option value="" disabled selected>Please select ...</option>
              <% for (let i=5; i>0; i--) { %>
              <option value=<%= i %>><%= i %></option>
              <% } %>
            </select>
            <button type="submit">Rate Recipe</button>
          </form>
        </section>

        </section>
        <% }) %>



<%-include('../partials/_footer')%>