
<%- include('../partials/_head',{user_id:user_id}) %>
<main>
    <h1>Recipe Details</h1>
    <section>

        <h4>Recipe Name:</h4> 
        <p><%=recipe.name%></p>

        <h4>Recipe Made By:</h4>
        <a href='/users/<%= user._id %>'' ><p><%= user.name %> </p></a>

        <h4>What Type of Meal:</h4>
        <p><%=recipe.typeOfMeal%></p>

        <h4>Origin of Recipe:</h4>
        <p><%=recipe.origin%></p>

        <h4>How Many Mouths Does it Feed?</h4>
        <p><%=recipe.serving%></p>


        <h4>Ingredients Needed:</h4>
        <ul>
            <% for( let i = 0; i < recipe.ingredients.length; i++ ) { %>
                <li><%= recipe.ingredients[i] %> </li>
            <% } %>
         </ul>
       

        <h4>Directions:</h4>
        <ol>
            <% for( let i = 0; i < recipe.direction.length; i++ ) { %>
                <li><%= recipe.direction[i] %> </li>
            <% } %>
         </ol>
       

        <h4>Posted:</h4>
        <p><%=new Date(recipe.createdAt).toLocaleDateString()%></p>


    <section class="d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="<%=recipe.url%>" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Recipe Details</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name of Recipe</li>
                <p><%=recipe.name%></p>

              <li class="list-group-item">Author</li>
                <a href='/users/<%= user._id %>'' ><p><%= user.name %> </p></a>

              <li class="list-group-item">Ingredients Needed to make this Recipe </li>
              <p><%=recipe.ingredients%></p>
           
            <li class="list-group-item">Directions for this Recipe </li>
            <p><%=recipe.direction%></p>

            <li class="list-group-item">Origin of Recipe</li>
            <p><%=recipe.origin%></p>
        </ul>
    </section>
<!--     <form action = "/recipes/<%=recipe._id%>?_method=DELETE" method = "POST">
        <button type = 'submit'>Delete Recipe</button>
    </form>
    <a href = "/recipes/<%=recipe._id%>/edit">
        <button>Edit Recipe</button></a> -->
</main>
<%- include('../partials/_footer') %>