
<%- include('../partials/_head',{user_id:null}) %>
<main>
 

    <section class="d-flex justify-content-center m-5">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="<%=recipe.url%>" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Recipe Details</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name of Recipe</li>
                <p><%=recipe.name%></p>

              <li class="list-group-item">Author</li>
                <a href='/users/<%= user._id %>'' ><p><%= user.name %> </p></a>

              <li class="list-group-item">Ingredients Needed to make this Recipe </li>
              <ul>
                <% for( let i = 0; i < recipe.ingredients.length; i++ ) { %>
                    <li><%= recipe.ingredients[i] %> </li>
                <% } %>
             </ul>
           
            <li class="list-group-item">Directions for this Recipe </li>
            <ol>
                <% for( let i = 0; i < recipe.direction.length; i++ ) { %>
                    <li><%= recipe.direction[i] %> </li>
                <% } %>
             </ol>
           

            <li class="list-group-item">Origin of Recipe</li>
            <p><%=recipe.origin%></p>
        </ul>
    </section>
<!--     <form action = "/recipes/<%=recipe._id%>?_method=DELETE" method = "POST">
        <button type = 'submit'>Delete Recipe</button>
    </form>
    <a href = "/recipes/<%=recipe._id%>/edit">
        <button>Edit Recipe</button></a> -->
</main>
<%- include('../partials/_footer') %>