<%- include('../partials/_head',) %>
<main>
    <h1>Recipe Details</h1>
    <section>

        <h4>Recipe Name:</h4> 
        <p><%=recipe.name%></p>

        <h4>Recipe Made By:</h4>
        <a href='/users/<%= user._id %>'' ><p><%= user.name %> </p></a>

        <h4>What Type of Meal:</h4>
        <p><%=recipe.typeOfMeal%></p>

        <h4>Origin of Recipe:</h4>
        <p><%=recipe.origin%></p>

        <h4>How Many Mouths Does it Feed?</h4>
        <p><%=recipe.serving%></p>


        <h4>Ingredients Needed:</h4>
        <p><%=recipe.ingredients%></p>

        <h4>Directions:</h4>
        <p><%=recipe.direction%></p>

        <h4>Posted:</h4>
        <p><%=new Date(recipe.createdAt).toLocaleDateString()%></p>


    </section>
    <form action = "/recipes/<%=recipe._id%>?_method=DELETE" method = "POST">
        <button type = 'submit'>Delete Recipe</button>
    </form>
    <a href = "/recipes/<%=recipe._id%>/edit">
        <button>Edit Recipe</button></a>
</main>
<%- include('../partials/_footer') %>